name: Python Linting

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black

      - name: Run flake8
        run: flake8 . --count --show-source --statistics

      - name: Run black
        run: black --check --diff .

      - name: Run log.py for test
        run: ./miwear/log.py -s ./test --filename 123

      - name: Run targz.py for test
        run: ./miwear/targz.py --path test

      - name: Run gz.py for test
        run: ./miwear/gz.py --path test

      - name: Run unzip.py for test
        run: ./miwear/unzip.py --path test

      - name: Run check
        run: cat 123.log

      - name: Run md5sum
        run: md5sum -c test/123.md5
